.App {
  text-align: center;
  font-family: 'Gupter', serif;
}

body, h1, h2, h3 {
  font-family: 'Gupter', serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#nav-bar {
  width: 100vw;
  display: flex;
}

.nav-link {
  padding: 2vw;
}

#right {
  margin-left: auto;
}

#search-bar {
  margin-right: 1vw;
  border-radius: 5px;
  box-shadow: 5px 2px 2px lightgrey;
}

#welcome-photo {
  height: 50vh;
  width: 50vh;
}

#edit-form {
  display: flex;
  flex-direction: column;
  width: 70vw;
}
